*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

nav a:hover{
    text-decoration: underline;
}

main{
    padding: 20px;
}

.product{
    border: 1px solid #ddd;
    width: 500px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.product img{
    width: 100%;
    height: auto;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

button{
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: orangered;
}

/*Mobile phone*/
@media (max-width: 600px) {
    header {
        text-align: center;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        width: 100%;
        text-align: center;
    }
}